* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.navMenu {
  border-bottom: solid 4px #494c5f; }
  .navMenu__logo {
    width: 200px; }

.navbar-nav {
  gap: 40px; }

.nav-item {
  font-family: "Comfortaa", cursive;
  color: #494c5f;
  font-size: 0.8rem;
  border-bottom: solid 2px #c09d89; }

.nav-link {
  padding: 0px; }

.rotate-hor-center:hover {
  -webkit-animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }

@-webkit-keyframes rotate-hor-center {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0); }
  100% {
    -webkit-transform: rotateX(-360deg);
    transform: rotateX(-360deg); } }

@keyframes rotate-hor-center {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0); }
  100% {
    -webkit-transform: rotateX(-360deg);
    transform: rotateX(-360deg); } }

.heroSection {
  height: 80vh;
  background-image: url("../assets/imgs/herofinal.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden; }
  @media screen and (max-width: 320px) {
    .heroSection {
      background-size: contain;
      background-repeat: repeat-y; } }
  @media screen and (max-width: 768px) {
    .heroSection {
      background-size: contain;
      background-repeat: repeat-y; } }
  .heroSection__row {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .heroSection__title {
    font-family: "Josefin Slab", serif;
    font-size: 1.8rem;
    color: #494c5f;
    background-color: #c09d89;
    border-color: solid #c09d89;
    border-radius: 0px 20px 20px 0px;
    align-items: center;
    padding: 16px; }
  .heroSection__sub {
    font-family: "Comfortaa", cursive;
    font-size: 1.4rem;
    background-color: #c09d89;
    border-color: #c09d89;
    border-radius: 0px 20px 20px 0px;
    align-items: center;
    justify-content: flex-start;
    color: #494c5f;
    padding: 10px; }

.slide-in-top {
  -webkit-animation: slide-in-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bottom 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@media screen and (max-width: 320px) {
  .presentation {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(45deg, #74EBD5 0%, #9bc3c3 50%, #ffffff 100%); } }

@media screen and (max-width: 768px) {
  .presentation {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(45deg, #74EBD5 0%, #9bc3c3 50%, #ffffff 100%); } }

.presentation__img {
  display: flex;
  justify-self: center;
  border-radius: 20px;
  padding: 10px; }
  @media screen and (max-width: 320px) {
    .presentation__img {
      display: none; } }
  @media screen and (max-width: 768px) {
    .presentation__img {
      display: none; } }

.presentation__text {
  display: flex;
  font-family: "Comfortaa", cursive;
  font-size: 1.5rem;
  color: #494c5f;
  padding: 10px; }
  @media screen and (max-width: 320px) {
    .presentation__text {
      font-size: 1rem;
      padding: 10px; } }

.description {
  display: flex;
  position: relative;
  height: 100%;
  border-bottom: solid 4px #494c5f;
  border-top: solid 4px #494c5f;
  padding: 10px; }
  .description__text {
    align-self: center; }
  .description__title {
    margin-bottom: 50px;
    font-family: "Josefin Slab", serif;
    color: #494c5f;
    font-size: 2rem; }
  .description__content {
    color: #494c5f;
    font-family: "Comfortaa", cursive;
    font-size: 1.2rem; }
  .description__video {
    display: flex;
    width: 100%; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../assets/imgs/foorterback.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  padding: 35px; }
  @media screen and (max-width: 320px) {
    .footer {
      background-size: contain;
      background-repeat: repeat-y; } }
  @media screen and (max-width: 768px) {
    .footer {
      background-size: contain;
      background-repeat: repeat-y; } }
  .footer__org1 {
    font-family: "Comfortaa", cursive;
    color: #494c5f;
    font-size: 2rem; }
    @media screen and (max-width: 320px) {
      .footer__org1 {
        padding: 10px; } }
    @media screen and (max-width: 768px) {
      .footer__org1 {
        padding: 10px; } }
  .footer__part2 {
    display: flex;
    flex-direction: column;
    font-family: "Comfortaa", cursive;
    color: #494c5f;
    font-size: 1.2rem; }
    @media screen and (max-width: 320px) {
      .footer__part2 {
        padding: 10px; } }
    @media screen and (max-width: 768px) {
      .footer__part2 {
        padding: 10px; } }
  .footer__link {
    font-family: "Comfortaa", cursive;
    color: #494c5f;
    list-style: none; }
  .footer__carusel {
    font-family: "Comfortaa", cursive;
    color: #494c5f;
    overflow: hidden; }
    @media screen and (max-width: 320px) {
      .footer__carusel {
        padding: 10px; } }
    @media screen and (max-width: 768px) {
      .footer__carusel {
        padding: 10px; } }

.pasos__ctn {
  display: flex;
  flex-direction: row;
  height: 100%;
  background-image: url("../assets/imgs/back2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: solid 4px #494c5f;
  padding: 80px; }

.pasos__titulo {
  font-family: "Josefin Slab", serif;
  font-size: 1.8rem;
  color: #494c5f; }

.pasos__explain {
  font-family: "Comfortaa", cursive;
  color: #494c5f;
  font-size: 1.3rem; }

.boton__personalizacion {
  font-family: "Comfortaa", cursive; }

.boton__personalizacion:hover {
  background-color: turquoise !important;
  color: #494c5f; }

.dropdown-item {
  font-family: "Comfortaa", cursive; }

.enumeracion {
  border-bottom: solid 4px #494c5f;
  background-color: #74EBD5;
  background-image: linear-gradient(45deg, #74EBD5 0%, #9bc3c3 50%, #ffffff 100%); }
  .enumeracion__r {
    padding: 20px;
    overflow: hidden; }
  .enumeracion__img {
    width: 300px;
    height: 300px !important;
    border-radius: 20px 20px 20px 20px;
    border: solid 2px #494c5f; }
  .enumeracion__txt {
    font-family: "Comfortaa", cursive;
    color: #494c5f;
    font-size: 1.2rem; }

.propuestas__ctn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: auto;
  background-image: url("../assets/imgs/back2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: solid 4px #494c5f; }

.propuestas__ctn2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.propuestas__titulo {
  font-family: "Josefin Slab", serif;
  color: #494c5f;
  font-size: 2rem; }

.card-img-top {
  padding: 5px;
  width: 200px !important;
  height: 200px !important;
  border-radius: 20px;
  border: solid 3px #494c5f; }

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border: 0px !important;
  background: transparent !important; }

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center; }

.contenedor, .contenedor__japandi, .contenedor__industrial, .contenedor__natural, .contenedor__moderno {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border-bottom: solid 4px #494c5f; }

.contenedor__japandi {
  background-image: url("../assets/imgs/japandi.jpg");
  justify-content: flex-start; }

.contenedor__industrial {
  background-image: url("../assets/imgs/industrial.jpg");
  justify-content: flex-end; }

.contenedor__natural {
  background-image: url("../assets/imgs/natural.jpg");
  justify-content: flex-start; }

.contenedor__moderno {
  background-image: url("../assets/imgs/moderno.jpg");
  justify-content: flex-end; }

.explicacion, .explicacion__content, .explicacion__content2, .explicacion__content3, .explicacion__content4 {
  font-family: "Comfortaa", cursive;
  color: white;
  height: auto;
  font-size: 1.3 rem;
  background-color: rgba(144, 12, 63, 0.8);
  padding: 5px; }

.explicacion__content {
  border-radius: 0px 20px 20px 0px; }

.explicacion__content2 {
  border-radius: 20px 0px 0px 20px; }

.explicacion__content3 {
  border-radius: 0px 20px 20px 0px; }

.explicacion__content4 {
  border-radius: 20px 0px 0px 20px; }
