.navMenu{
    border-bottom: solid 4px rgb(73,76,95);
}


.navMenu__logo{
    width: 200px;
}
.navbar-nav{
    gap: 10px;
}


.nav-item{
    font-family: 'Arvo', serif;
    color: rgb(73,76,95);
    border-bottom: solid 2px rgb(192,157,137);
}

.rotate-hor-center:hover {
	-webkit-animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes rotate-hor-center {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-360deg);
              transform: rotateX(-360deg);
    }
  }
  @keyframes rotate-hor-center {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-360deg);
              transform: rotateX(-360deg);
    }
  }

.heroSection{
    height: 80vh;
    background-image: url("../assets/imgs/herofinal.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.heroSection__row{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heroSection__title{
    font-family: 'Josefin Slab', serif;
    font-size: 1.8rem;
    color: rgb(73,76,95);
    background-color: rgb(192,157,137);
    border-color: solid rgb(192,157,137) ;
    border-radius: 0px 20px 20px 0px;
    align-items: center;
    padding: 16px;
}


.slide-in-top {
	-webkit-animation: slide-in-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

.heroSection__sub{
    font-family: 'Comfortaa', cursive;
    font-size: 1.4rem;
    background-color: rgb(192,157,137);
    border-color: solid rgb(192,157,137);
    border-radius: 0px 20px 20px 0px;
    align-items: center;
    justify-content: flex-start;
    color: rgb(73,76,95);
    padding: 10px;
}

.slide-in-bottom {
	-webkit-animation: slide-in-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

  @-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

  .presentation__img{
    display: flex;
    justify-self: center;
    border-radius: 20px;
    padding: 10px;
}

  .presentation__text{
    display: flex;
    font-family: 'Comfortaa', cursive;
    font-size: 1.5rem;
    color: rgb(73,76,95);
    padding: 10px;
}

.description{
  display: flex;
  position: relative;
  height: 100%;
  border-bottom: solid 4px rgb(73,76,95);
  border-top: solid 4px rgb(73,76,95);
  padding: 10px;
}
.description__text{
  align-self: center;
}

.description__title{
  margin-bottom: 50px;
  font-family: 'Josefin Slab', serif;
  color: rgb(73,76,95);
  font-size: 2rem;
}

.description__content{
  color: rgb(73,76,95);
  font-family: 'Arvo', serif;
  font-size: 1.2rem;
}

.description__video{
  display: flex;
  width: 100%;
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../assets/imgs/foorterback.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  padding: 35px;
}

.footer__org1{
  font-family: 'Arvo', serif;
  color: rgb(73,76,95);
  font-size: 2rem;
}

.footer__part2{
  display: flex;
  flex-direction: column;
  font-family: 'Arvo', serif;
  color: rgb(73,76,95);
  font-size: 1.2rem;
}

.footer__link{
  font-family: 'Arvo', serif;
  color: rgb(73,76,95);
  list-style: none;
}

.pasos__ctn{
  display: flex;
  flex-direction: row;
  height: 100%;  
  background-image: url("../assets/imgs/back2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: solid 4px rgb(73,76,95);
  padding: 80px;
}

.pasos__titulo{
  font-family: 'Josefin Slab', serif;
  font-size: 1.8rem;
  color: rgb(73,76,95);
}

.pasos__explain{
  font-family: 'Arvo', serif;
  color: rgb(73,76,95);
  font-size: 1.3rem;
}

.boton__personalizacion{
  font-family: 'Josefin Slab', serif;
}

.boton__personalizacion:hover{
  background-color: turquoise !important;
  color: rgb(73,76,95);
}

.dropdown-item{
  font-family: 'Josefin Slab', serif;
}

.enumeracion{
  border-bottom: solid 4px rgb(73,76,95);
  background-color: #74EBD5;
  background-image: linear-gradient(45deg, #74EBD5 0%, #9bc3c3 50%, #ffffff 100%);
  

}

.enumeracion__r{
  padding: 20px;
  overflow: hidden;
}

.enumeracion__img{
  width: 300px;
  height: 300px !important;
  border-radius: 20px 20px 20px 20px;
  border: solid 2px rgb(73,76,95);
}

.enumeracion__txt{
  font-family: 'Arvo', serif;
  color: rgb(73,76,95);
  font-size: 1.2rem;
}

.propuestas__ctn{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: auto;
  background-image: url("../assets/imgs/back2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: solid 4px rgb(73,76,95);
}

.propuestas__ctn2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.propuestas__titulo{
  font-family: 'Arvo', serif;
  color: rgb(73,76,95);
  font-size: 2rem;
}


.card-img-top{
  padding: 5px;
  width: 200px !important;
  height: 200px !important;
  border-radius: 20px;
  border: solid 3px rgb(73,76,95);
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border: 0px !important;
  background: transparent !important;
}

.card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor__japandi{
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 70vh;
  background-image: url("../assets/imgs/japandi.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border-bottom: solid 4px rgb(73,76,95);
}

.explicacion__content{
  font-family: 'Josefin Slab', serif;
  color: white;
  height: auto;
  font-size: 1.3rem;
  background-color: rgba(151,188,196, .8);
  padding: 5px;
  border-radius: 0px 20px 20px 0px;
}

.contenedor__industrial{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 70vh;
  background-image: url("../assets/imgs/industrial.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border-bottom: solid 4px rgb(73,76,95);
}

.explicacion__content2{
  font-family: 'Josefin Slab', serif;
  color: white;
  font-size: 1.3rem;
  background-color: rgba(151,188,196, .8);
  height: auto;
  padding: 5px;
  border-radius: 20px 0px 0px 20px;
}

.contenedor__natural{
  display: flex;
  align-items: center;
  height: 70vh;
  background-image: url("../assets/imgs/natural.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border-bottom: solid 4px rgb(73,76,95);
}

.explicacion__content3{
  font-family: 'Josefin Slab', serif;
  color: white;
  font-size: 1.3rem;
  background-color: rgba(151,188,196, .8);
  height: auto;
  padding: 5px;
  border-radius: 0px 20px 20px 0px;
}

.contenedor__moderno{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 70vh;
  background-image: url("../assets/imgs/moderno.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border-bottom: solid 4px rgb(73,76,95);
}

.explicacion__content4{
  font-family: 'Josefin Slab', serif;
  color: white;
  font-size: 1.3rem;
  background-color: rgba(151,188,196, .8);
  height: auto;
  padding: 5px;
  border-radius: 20px 0px 0px 20px;
}

.clientes{
  background-image: url("../assets/imgs/back2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: solid 4px rgb(73,76,95);
}

.clientes__title{
  font-family: 'Josefin Slab', serif;
  color: rgb(73,76,95);
  font-size: 3rem;
  padding: 20px;
}

.carousel{
  padding: 10px;
}

.clientes__title--mini{
  font-family: 'Josefin Slab', serif;
  color: rgb(73,76,95);
  font-size: 1.5rem;
  padding: 10px;
  background-color: rgb(192,157,137);
  border-radius: 0px 20px 20px 20px;
}

.contacto{
  background-image: url("../assets/imgs/fcontacto.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  border-bottom: solid 4px rgb(73,76,95);
}

.contact__title{
  font-family: 'Josefin Slab', serif;
  color: white;
  font-size: 2.5rem;
}

.contact__minititulo{
  font-family: 'Josefin Slab', serif;
  color: white;
  font-size: 1.5rem;
}

.form-check-label{
  font-family: 'Josefin Slab', serif;
  color: white;
  font-size: 1.2rem;
}

.btn__contact{
  font-family: 'Josefin Slab', serif;
  background-color: rgb(73,76,95);
}

.btn__contact:hover{
  background-color: turquoise;
  color: rgb(73,76,95)
}

.btn__propuestas{
  background-color: rgb(73,76,95);
}

.btn__propuestas:hover{
  background-color: turquoise;
  color: rgb(73,76,95);
}

@media screen and (max-width: 768px){

  .heroSection{
      background-size: contain;
    }

  .contact__title{
    text-align: center;
  }
  
}


