@import "./responsive";
@import "./variables";


.clientes{
    background-image: url("../assets/imgs/back2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    border-bottom: solid 4px #67c3c1 ;
    
    &__title{
      font-family: $font-type-title;
      color: $font-color-dark;
      font-size: 3rem;
      padding: 20px;
      
      &--mini{
        font-family: $font-type-normal;
        color: white;
        font-size: 1.5rem;
        padding: 10px;
        background-color: rgb(144, 12, 63);
        border-radius: 0px 20px 20px 20px;
      }
    }

    &__subcnt{
      border-bottom: dashed 4px #67c3c1 ;
      height: 20vh;
      }

    &__subtitle{
      font-family: $font-type-normal;
      color: $font-color-dark;
      font-size: 1.5rem;
      justify-self: center;
      text-decoration: none;
    }
}
.rotate-hor-center:hover {
	-webkit-animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes rotate-hor-center {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-360deg);
              transform: rotateX(-360deg);
    }
  }
  @keyframes rotate-hor-center {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-360deg);
              transform: rotateX(-360deg);
    }
  }

  .minititle__ctn{
    padding: 20px;
  }
  
  .galeria{
    padding: 10px;
  }

  .clientimg{
    border-radius: 10px 10px 10px 10px;
  }

  .carousel{
    padding: 10px;
    
  }
  
  .carousel-inner{
    border-radius: 20px 20px 20px 20px;
  }
  