@import "./variables";
@import "./responsive";


.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../assets/imgs/foorterback.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding: 35px;
    
    @include movil{
      background-size: contain;
      background-repeat: repeat-y;
    }

    @include tablet{
      background-size: contain;
      background-repeat: repeat-y;
    }


    &__org1{
      font-family: $font-type-normal;
      color: $font-color-dark;
      font-size: 2rem;

      @include movil{
        padding: 10px;
      }
  
      @include tablet{
       padding: 10px;
      }
    }
    
    &__part2{
      display: flex;
      flex-direction: column;
      font-family: $font-type-normal;
      color: $font-color-dark;
      font-size: 1.2rem;

      @include movil{
        padding: 10px;
      }
  
      @include tablet{
       padding: 10px;
      }
    
    
    }
    
    &__link{
        font-family: $font-type-normal;
        color: $font-color-dark;
        list-style: none;
    }

    &__carusel{
        font-family: $font-type-normal;
        color: $font-color-dark;
        overflow: hidden;

        @include movil{
          padding: 10px;
        }
    
        @include tablet{
         padding: 10px;
        }
    }
  }

