
@import "./variables";
@import "./responsive";

.heroSection{
    height: 80vh;
    background-image: url("../assets/imgs/herofinal.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    
    @include movil{
      background-size: contain;
      background-repeat: repeat-y;
    }

    @include tablet{
      background-size: contain;
      background-repeat: repeat-y;
    }

    &__row{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    &__title{
        font-family: $font-type-title;
        font-size: 1.8rem;
        color: $font-color-dark;
        background-color: $background-color-brown;
        border-color: solid $background-color-brown;
        border-radius: 0px 20px 20px 0px;
        align-items: center;
        padding: 16px;
    }
    
    &__sub{
        font-family: $font-type-normal;
        font-size: 1.4rem;
        background-color: $background-color-brown;
        border-color: $background-color-brown;
        border-radius: 0px 20px 20px 0px;
        align-items: center;
        justify-content: flex-start;
        color: $font-color-dark;
        padding: 10px;
    }
}

.slide-in-top {
	-webkit-animation: slide-in-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }


.slide-in-bottom {
	-webkit-animation: slide-in-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

  @-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

  .presentation{

    @include movil{
      display: flex;
      flex-direction: column;
      background-image: linear-gradient(45deg, #74EBD5 0%, #9bc3c3 50%, #ffffff 100%)
    }

    @include tablet{
      display: flex;
      flex-direction: column;
      background-image: linear-gradient(45deg, #74EBD5 0%, #9bc3c3 50%, #ffffff 100%)
    }


    &__img{
        display: flex;
        justify-self: center;
        border-radius: 20px;
        padding: 10px;

        @include movil{
          display: none;
        }
    
        @include tablet{
          display: none;
        }
    }

    &__text{
      display: flex;
      font-family: $font-type-normal;
      font-size: 1.5rem;
      color: $font-color-dark;
      padding: 10px;

      @include movil{
        font-size: 1rem;
        padding: 10px;
      }
    }
  }


.description{
  display: flex;
  position: relative;
  height: 100%;
  border-bottom: solid 4px $border-color-dark;
  border-top: solid 4px $border-color-dark;
  padding: 10px;
  
  &__text{
    align-self: center;
  }
  
  &__title{
    margin-bottom: 50px;
    font-family: $font-type-title;
    color: $font-color-dark;
    font-size: 2rem;
  }
  
  &__content{
    color: $font-color-dark;
    font-family: $font-type-normal;
    font-size: 1.2rem;
  }
  
  &__video{
    display: flex;
    width: 100%;
  }
}


