@import "./variables";



.navMenu{
    border-bottom: solid 4px $border-color-dark;
    
    &__logo{
        width: 200px;
    }
}


.navbar-nav{
    gap: 40px;
}


.nav-item{
    font-family: $font-type-normal;
    color: $font-color-dark;
    font-size: 0.8rem;
    border-bottom: solid 2px rgb(192,157,137);
}

.nav-link{
  padding: 0px;
}

.rotate-hor-center:hover {
	-webkit-animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes rotate-hor-center {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-360deg);
              transform: rotateX(-360deg);
    }
  }
  @keyframes rotate-hor-center {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-360deg);
              transform: rotateX(-360deg);
    }
  }
