@import "./variables";
@import "./responsive";

.nosotros{

    &__title{
        font-family: $font-type-title;
        color: $font-color-dark;
        margin-bottom: 20px;
        font-size: 3rem;
        align-self: flex-start;

        @include movil{
            text-align: center;
            font-size: 1.5rem;
          }
      
        @include tablet{
            text-align: center;
            font-size: 1.5rem;
          }
    }

    &__subtitle{
        font-family: $font-type-title;
        color: $font-color-dark;
        margin-bottom: 20px;
        font-size: 2rem;
        align-self: flex-start;

        @include movil{
            text-align: center;
            font-size: 1.2rem;
          }
      
        @include tablet{
            text-align: center;
            font-size: 1.2rem;
          }
    }

    &__img{
        display: none;
        border-radius: 20px 20px 20px 20px;
        padding: 5px;

        @include movil{
            display: initial; 
          }
      
        @include tablet{
            display: initial;
          }


    }

    &__ctn{
        background-image: url("../../assets/imgs/maraFondo1.jpg");
        background-position: right;
        background-size: contain;
        background-repeat: no-repeat;
        height: 90vh;

        @include movil{
            background-image: none;
            height: 100%;
          }
      
        @include tablet{
            background-image: none;
            height: 100%;
          }
    }

    &__pt2{
        background-image: linear-gradient(45deg, #74EBD5 0%, #9bc3c3 50%, #ffffff 100%);
        background-size: contain;
        border-bottom: solid 4px $font-color-dark;
    }   

    &__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: $font-type-normal;
        color: $font-color-dark;
        padding: 20px;
        font-size: 1.2rem;

        @include movil{
            text-align: center;
            font-size: 1rem;
          }
      
        @include tablet{
            text-align: center;
            font-size: 1rem;
          }
    }

    &__minitext{
        font-family: $font-type-normal;
        color: $font-color-dark;
    }

    &__minitittle{
        font-family: $font-type-title;
        color: $font-color-dark;
        padding: 15px;

        &--2{
            font-family: $font-type-title;
            color: $font-color-dark;
        }
    }
}